Projet/py/__pycache__/api_interact.cpython-312.pyc
Projet/py/__pycache__/app_main.cpython-312.pyc
Projet/py/__pycache__/init_data.cpython-312.pyc
Projet/py/__pycache__/install_requirements.cpython-312.pyc
Projet/py/__pycache__
Projet/py/data